services:
  ff-app:
    container_name: ff-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "5005:5005"
    depends_on:
      ff-db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://ff-db:3306/${MYSQL_DATABASE}
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - MAIL_API_KEY=${MAIL_API_KEY}
      - VERIFY_EMAIL=${VERIFY_EMAIL}
      - SEND_EMAIL=${SEND_EMAIL}
      - FAKEFORGE_MAIL_USERNAME=${FAKEFORGE_MAIL_USERNAME}
      - FAKEFORGE_MAIL_PASSWORD=${FAKEFORGE_MAIL_PASSWORD}
    networks:
      - ff-net
  ff-db:
    container_name: ff-db
    image: mysql:latest
    ports:
      - "3307:3306"
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - ff-net
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      retries: 10
      interval: 3s
      timeout: 30s
volumes:
  mysql-data:
networks:
  ff-net:
    name: ff-net
