spring:
  application.name: FakeForge
  datasource:
    url: ${SPRING_DATASOURCE_URL}?serverTimezone=Europe/Warsaw&useSSL=False&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
  jpa:
    database: mysql
    show-sql: true
    hibernate.ddl-auto: none
    open-in-view: true
    properties.hibernate.dialect: org.hibernate.dialect.MySQLDialect
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true
  data:
    jdbc:
      repositories:
        enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health, info

jwt:
  secret: ${JWT_SECRET}
  expiration: P10D

whoisxml:
  api:
    endpoint: https://emailverification.whoisxmlapi.com/api/v3
    key: ${MAIL_API_KEY}

app:
  mail:
    verification:
      enabled: ${VERIFY_EMAIL:true}
